.bg-fit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 575px;
}

.bg-fit-signin {
  background-position: center;
}

.login_form {
  padding: 80px 0px !important;
  width: 600px !important;
}

.login_form .text-danger {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
