.bg-fit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 575px;
}

.bg-fit-signin {
  background-position: center;
}

.signup_form {
  padding: 80px 0px !important;
}

.signup_form .reg_form {
  max-width: 520px !important;
}
